 
*{
	font-family: Arial, Helvetica, sans-serif;

}

 .header{
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;

}
.header::before{
	content: "";
	background-color: #e1b1dc;
	width: 100%;
	height: 5px;
	position: absolute;
	margin-bottom: -150px;
}

.Company{
	font-weight: bold;
	font-size: 30px;
	margin-top: 26px;

}
.loco{
     margin-left: 100px;
    display: flex;
 }

nav ul{
	list-style-type: none;
	display: flex;
	

}



ul li {
	margin-left: 15px;
}
.Sign{
	background-color: #d59adf;
	color: white;
	padding: 10px;
	border-radius: 20px;
	margin-top: -8px;
}
.Container{
	display: flex;
	justify-content: space-around;
	margin-left: 270px;
	margin-top: 40px;
}
 
 h1{
 	font-size: 40px; 
 	text-transform: uppercase;
 
 }
 h4{
 	font-size: 20px;
 	 text-transform: uppercase;
 	 margin-top: -25px;
 	 letter-spacing: 5px;
 	  	color: orange;
 }
  button{
  	background-color: #d59adf;
	color: white;
	width: 120px;
    text-align: center;
	padding: 10px;
	border-radius: 20px;
	border: none;
	margin-top: -8px;

  }
 
 footer{
 	display: flex;
 	margin-left: 5px;
 	background-color: black;
 	color: white;

 }
 .company, .gethelp, .follow {
 	font-weight: bold;
 	margin-bottom: 30px;
 	position: relative;
 	

 }

  .company::before, .gethelp::before, .follow::before{
 	content: '';
 	background-color: #e1b1dc;
	width: 70px;
	height: 5px;
	position: absolute;
	margin-top: 18px;
 }

  
 dl dt{
 	margin-left: 300px;
 	margin-top: 15px;

 }
 
